// ******* external_url_font_family_start_here *******
// import url('');
// ******* external_url_font_family_end_here *******

// ******* external_url_font_awesome_start_here *******
// import url('');
// ******* external_url_font_awesome_end_here *******

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: '';
}