* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "";
}

::-moz-selection {
  color: white;
  background-color: black;
}

::selection {
  color: white;
  background-color: black;
}